.html{
	background-color: #EDF2C5;
	box-sizing: border-box;
}

*,*:before,*:after {box-sizing: inherit;}

.background{
	max-width: 1260px;
	max-height: 940px;
	margin-left: 160px;
	margin-right: 160px;
	background-color: #EDF2C5;

}

.header{
	color: #778A50;
	height: 147px;
}

.vegetables{
	color: #778A50;
	font-size: 36px;
	font-family: Arial Black;
	width: 271px;
	height: 42px;
	margin-top: 53px;
}

.lineone{
	color: #778A50;
	height: 25px;
	border-left: 1px solid;
	position: absolute;
	top: 61px;
	left: 969px;
}

.fb{
	max-height: 25px;
	max-width: 25px;
	position: absolute;
	top: 61px;
    left: 934px;
}

.ig{
	max-height: 25px;
	max-width: 25px;
	position: absolute;
	top: 61px;
    left: 899px;
}

.login{
	width: 60px;
	height: 25px;
	position: absolute;
	top: 61px;
	left: 979px;
	border: 1px solid;
	border-radius: 3px;
	padding: 3px;
	background-color: #EDF2C5;

	font-family: Arial Black;
	font-size: 12px;
	color: #778A50;
	text-align: center;
}


.join{
	width: 50px;
	height: 25px;
	position: absolute;
	top: 61px;
	left: 1049px;
	border: 1px solid;
	border-radius: 3px;
	padding: 3px;
	background-color: #EDF2C5;

	font-family: Arial Black;
	font-size: 12px;
	color: #778A50;
	text-align: center;
}

li {
	display: inline;
	margin-left: 30px;
	margin-right: 30px;
}

.nav-list{
	font-family: Arial Black;
	font-size: 16px;
	color: #EDF2C5;
	text-decoration: none;
	background-color: #778A50;
	padding-left: 30px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 30px;
	padding: inline-start:0;
	width: 940px;
	border-radius: 3px;

}

.pumpkin{
	left: 160px;
	width: 940px;
	height: 448px;
}

.container{
	width: 950px;
	display: inline-flex;
}

.leftside{
	width: 950px;
	display: inline-block;
}

.bannerv{
	width: 445px;
	height: 45px;
	margin-top: 30px;
	font-family: Arial Black;
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	color: #EDF2C5;
	text-decoration: none;
	background-color: #778A50;
	border-radius: 3px;
	display: flex;
}

.threepics{
	display: inline-block;
	margin-top: 15px;
	margin-right: 6px;
}


.rightside{
	width: 450px;
	display: inline-block;
}

.bannerc{
	width: 445px;
	height: 45px;
	margin-top: 30px;
	margin-left: 45px;
	font-family: Arial Black;
	font-size: 16px;
	padding-top: 17px;
	padding-bottom: 16px;
	padding-left: 30px;
	color: #EDF2C5;
	text-decoration: none;
	background-color: #778A50;
	border-radius: 3px;
	display: flex;

}

.article{
	width: 445px;
	height: 140px;
	background-color: #F7FBDA;
	margin-top: 15px;
	margin-left: 45px;
	box-sizing: border-box;

}

.p1{
	font-family: ArialMT Regular;
	font-size: 12px;
	
	padding-top: 16px;
	padding-left: 15px;
	color: #7D7D7D;
    
}

.linetwo{
	width: 414px;
	height: 1px;
	margin-left: 15px;
	margin-top: 16px;
	margin-bottom: 16px;
	border-top: solid #7D7D7D 1px;
	
}

.p2{
	font-family: ArialMT Regular;
	font-size: 12px;
	
	padding-bottom: 16px;
	padding-left: 15px;
	color: #7D7D7D;
 }

.footer{
	width: 1260px;
	height: 60px;
	font-size: 12px;
	font-family: ArialMT Regular;
	color: #EDF2C5;
	margin-top: 35px;
	margin-right: 160px;
	padding-bottom: 25px;
	padding-top: 24px;
	padding-left: 479px;
	background-color: #778A50;
}










